ENV='dev'
#host path의 wsl path. 
# f:deeplearningsapce (at windows) = /mnt/host/f/deeplearningspace (at wsl) 
SOURCE_PATH=/mnt/host/f/deeplearningspace
DRIVE_PATH=/mnt/host/e/drive
AI_COMPUTE_BENCHMARK_PATH=/mnt/host/f/ai-compute-benchmark

PROJECT_NAME=deeplearningspace

# 호스트(windows) 외부 port
TENSORFLOW_XPU_HOST_PORT=8889
PYTORCH_XPU_HOST_PORT=8890
OPENVINO_HOST_PORT=8891
NVIDIA_CUDA_HOST_PORT=8892
LINUX_NVIDIA_CUDA_HOST_PORT=8893
XPU_HOST_PORT=8894
