ENV='dev'
SOURCE_PATH=/mnt/host/f/meori-hr-ai
DRIVE_PATH=/mnt/host/e/drive
PROJECT_NAME=deeplearningspace

# 외부 port
TENSORFLOW_XPU_HOST_PORT=8889
PYTORCH_XPU_HOST_PORT=8890
OPENVINO_HOST_PORT=8891
NVIDIA_CUDA_HOST_PORT=8892